<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>vue实例</title>
    <link rel="stylesheet" type="text/css" href="css/base.css">
</head>

<body>
    <div id="app">
        <h2>条件</h2>
        <h1 v-show="yes">Yes!</h1>
        <h1 v-show="no">No!</h1>
        <h1 v-if="age >= 25">Age: {{ age }}</h1>
        <h1 v-if="name.indexOf('jack') >= 0">Name: {{ name }}</h1>

        <h2>循环</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Sex</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="person in people">
                    <td v-text="person.name"></td>
                    <td v-text="person.age"></td>
                    <td v-text="person.sex"></td>
                </tr>
            </tbody>
        </table>

        <h2>计算属性</h2>
        <p @click='reverseMessageEvent'>{{ message }}</p>
        <p>{{ reverseMessage }}</p>
        <p>{{now}}</p>
        <h2>处理用户输入</h2>
        <input type="text" v-model="message" />
        <div v-bind:class="classObject">绑定-HTML-Class</div>

        <h2>组件</h2>
        <h4>使用-Prop-传递数据</h4>
        <child my-message="hello!"></child>
        <h4>动态-Prop</h4>
        <ul>
            <li-item v-for="person in people" v-bind:todo="person"></li-item>
        </ul>
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
        <h4>单向数据流</h4>
        <initial-counter v-bind:initial-counter="1"></initial-counter>
        <h4>使用-v-on-绑定自定义事件</h4>
        <p>{{ total }}</p>
        <btn-counter v-on:increment="incrementTotal"></btn-counter>
        <btn-counter v-on:increment="incrementTotal"></btn-counter>
        <h4>使用自定义事件的表单输入组件</h4>
        <format-input></format-input>
        <currency-input label="Price" v-model="price"></currency-input>
        <currency-input label="Shipping" v-model="shipping"></currency-input>
        <currency-input label="Handling" v-model="handling"></currency-input>
        <currency-input label="Discount" v-model="discount"></currency-input>
        <p>Total: ${{ total }}</p>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/index.js"></script>
</body>

</html>