@% extend('layout.art') %@
<!--title-->
@% block('title', function(){ %@ component vue2实例 @% }) %@
<!--head-->
@% block('head', function(){ %@
<link rel="stylesheet" type="text/css" href="css/component.css?v=@%=v%@" /> @% }) %@
<!--header-->
@% block('headerTitle', function(){ %@ component @% }) %@
<!--content-->
@% block('content', function(){ %@
<!--aside-->
@% include('aside.art', {active:1}) %@
<div class="main">
    <div class="wrapper">
        <form id="search">
            <label>Search</label><input class="input" name="query" v-model="searchQuery">
        </form>
        <gridview :data="gridData" :columns="gridColumns" :filter-key="searchQuery"></gridview>
    </div>
</div>
@% }) %@
<!--js-->
@% block('js', function(){ %@
<script type="text/x-template" id="grid-template">
    <table>
        <thead>
            <tr>
                <th v-for="key in columns" @click="sortBy(key)" :class="{ active: sortKey == key }">
                    {{ key | capitalize }}
                    <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="entry in filteredData">
                <td v-for="key in columns">
                    {{entry[key]}}
                </td>
            </tr>
        </tbody>
    </table>
</script>
<script type="text/javascript" src="js/app/component.js"></script>
@% }) %@